/* Resetting some default styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Set the background color of the entire app */
body {
    background-color: #f3f2f2
;
}

/* Adjust the color of the text in the app */
body {
    color: #333;
}

/* Style the header */
/* Style the header */
header {
  
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position it at the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Set a high z-index to ensure it's above other elements */
}

/* Style h1 elements */
h1 {
    color: #000000;
    font-size: 2em;
}

/* Style links */
a {
    color: #050105;
    text-decoration: none;
}

/* Change link color on hover */
a:hover {
    color: #1423f0;
}

/* Style buttons */
button {
    background-color: #336699;
    color: #ffffff;
    align-items: center;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

/* Change button color on hover */
button:hover {
    background-color:#D3D3D3

    600;
}

/* Add more custom styles for other elements as needed */

/* Style rows */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Style individual items in a row */
.row-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
/* ... (your existing styles) */

/* Add this to your styles.css */
.workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workout-row {
    width: 30%; /* Adjust the width as needed */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
/* Add this to your styles.css */
/* Style dots for each section */
.exercise::before,
.duration::before,
.intensity::before,
.completion:before {
    content: " \2022"; /* Unicode character for a bullet point */
    margin-left: 5px; /* Adjust the spacing as needed */
}

/* ... (your existing styles) */


/* ... (your existing styles) */
